<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
    <avatar avatar="https://firebasestorage.googleapis.com/v0/b/ng4-template-9fbe1.appspot.com/o/app-assets%2Fd20.png?alt=media&token=1b36e1ec-6fdb-407c-a4bd-703528118eda"
      size="xs"></avatar>
  </a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-link">
        <a routerLink="" routerLinkActive="active">
          <span class="icon-bar">
            <i class="fa fa-home"></i>
          </span>&nbsp;Home</a>
      </li>
      <li *ngIf="currentUser" class="nav-link">
        <a [routerLink]="['/blog', currentUser.uid]" routerLinkActive="active">
          <span class="icon-bar">
            <i class="fa fa-newspaper-o"></i>
          </span>&nbsp;My Blog</a>
      </li>
      <li class="nav-link">
        <a routerLink="about" routerLinkActive="active">
          <span class="icon-bar">
            <i class="fa fa-info-circle"></i>
          </span>&nbsp;About</a>
      </li>
      <li class="nav-link">
        <a routerLink="canvas" routerLinkActive="active">
          <span class="icon-bar">
            <i class="fa fa-paint-brush"></i>
          </span>&nbsp;Canvas</a>
      </li>
      <li class="nav-link">
        <a routerLink="masonry" routerLinkActive="active">
          <span class="icon-bar">
            <i class="fa fa-th"></i>
          </span>&nbsp;Masonry</a>
      </li>
    </ul>
    <form class="form-inline">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="currentUser?.uid" class="nav-item dropdown bk-dark" ngbDropdown placement="bottom">
          <a class="nav-link dropdown-toggle full-center" id="navbarDropdown" ngbDropdownToggle>
            <avatar [avatar]="currentUser?.photoURL" size="xs"></avatar>
            {{currentUser?.displayName}}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/profile', currentUser.uid]" routerLinkActive="active">
              <span class="icon-bar">
                <i class="fa fa-user-circle"></i>
              </span>&nbsp; Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">
              <span class="icon-bar">
                <i class="fa fa-sign-out"></i>
              </span>&nbsp; Logout</a>
          </div>
        </li>
      </ul>
      <ul *ngIf="!currentUser" class="nav navbar-nav navbar-right">
        <li class="header-link">
          <a [routerLink]="['/login']">
            <span class="icon-bar">
              <i class="fa fa-sign-in"></i>
            </span>&nbsp; Login</a>
        </li>
      </ul>
    </form>
  </div>
</nav>
<!--
<nav class="navbar navbar-expand-lg navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="btn-link navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">
        <avatar avatar="https://firebasestorage.googleapis.com/v0/b/ng4-template-9fbe1.appspot.com/o/app-assets%2Fd20.png?alt=media&token=1b36e1ec-6fdb-407c-a4bd-703528118eda"
          size="xs"></avatar>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav">
        <li class="header-link">
          <a routerLink="" routerLinkActive="active">
            <span class="icon-bar">
              <i class="fa fa-home"></i>
            </span>&nbsp;Home</a>
        </li>
        <li *ngIf="currentUser" class="header-link">
          <a [routerLink]="['/blog', currentUser.uid]" routerLinkActive="active">
            <span class="icon-bar">
              <i class="fa fa-newspaper-o"></i>
            </span>&nbsp;My Blog</a>
        </li>
        <li class="header-link">
          <a routerLink="about" routerLinkActive="active">
            <span class="icon-bar">
              <i class="fa fa-info-circle"></i>
            </span>&nbsp;About</a>
        </li>
        <li class="header-link">
          <a routerLink="canvas" routerLinkActive="active">
            <span class="icon-bar">
              <i class="fa fa-paint-brush"></i>
            </span>&nbsp;Canvas</a>
        </li>
        <li class="header-link">
          <a routerLink="masonry" routerLinkActive="active">
            <span class="icon-bar">
              <i class="fa fa-th"></i>
            </span>&nbsp;Masonry</a>
        </li>
      </ul>
      <ul *ngIf="currentUser?.uid" class="nav navbar-nav navbar-right">
        <li class="header-link" ngbDropdown placement="bottom">
          <a ngbDropdownToggle>
            <div class="full-center">
              <avatar [avatar]="currentUser?.photoURL" size="xs"></avatar>
              {{currentUser?.displayName}}
            </div>
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <ul class="nav navbar-inverse">
              <li class="header-link">
                <a [routerLink]="['/profile', currentUser.uid]" routerLinkActive="active">
                  <span class="icon-bar">
                    <i class="fa fa-user-circle"></i>
                  </span>&nbsp; Profile</a>
              </li>
              <li class="header-link">
                <a (click)="logout()">
                  <span class="icon-bar">
                    <i class="fa fa-user-circle"></i>
                  </span>&nbsp; Logout</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <ul *ngIf="!currentUser" class="nav navbar-nav navbar-right">
        <li class="header-link">
          <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
