<form class="form-inline">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown bk-dark" ngbDropdown placement="bottom">
      <a class="nav-link dropdown-toggle full-center" id="postControlDropDown" ngbDropdownToggle>
        <span class="icon-bar">
          <i class="fa fa-ellipsis-v fa-2x"></i>
        </span>
      </a>
      <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="postControlDropDown">
        <a class="dropdown-item" (click)="editPost()">
          <span class="icon-bar">
            <i class="fa fa-pencil fa-2x"></i>
          </span>&nbsp; Logout</a>
      </div>

      <a class="dropdown-item" (click)="removePost()">
        <span class="icon-bar">
          <i class="fa fa-close fa-2x text-danger"></i>
        </span>&nbsp; Delete</a>
    </li>
  </ul>
</form>