<div class="canvas-container full-center">
  <canvas #myCanvas class="canvas-layer" (panstart)="handleStart($event)" (panmove)="handleMove($event)"></canvas>
</div>

<nav class="navbar navbar-inverse fixed-bottom canvas-controls">
  <div class="container-fluid full-center">
    <div class="col-xs-1">
      <div ngbDropdown placement="bottom">
        <button class="btn btn-link" id="brushDrop" ngbDropdownToggle>
          <i class="fa fa-paint-brush fa-2x" [ngStyle]="{'color': currentColour}" name="brush"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="brushDrop">
          <button class="btn-link dropdown-item" *ngFor="let colour of availableColours" (click)="changeColour(colour)">
            <i class="fa fa-paint-brush fa-2x" [ngStyle]="{'color': colour}" name="brush"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-xs-1">
      <button class="btn-link" (click)="changeColour('#fff')">
        <i class="fa fa-eraser fa-2x"></i>
      </button>
    </div>
    <div class="col-xs-1">
      <button class="btn btn-link" (click)="clearCanvas()">
        <i class="fa fa-trash fa-2x"></i>
      </button>
    </div>
    <div class="col-xs-1">
      <div ngbDropdown placement="bottom">
        <button class="btn btn-link" id="sizeDrop" ngbDropdownToggle>
          <i class="fa fa-circle fa-2x" [ngClass]="{'point-1': brushSize === 5, 'point-2': brushSize === 10, 'point-3': brushSize === 20, 'point-4': brushSize === 50, 'point-5': brushSize === 100}"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="sizeDrop">
          <button class="btn-link point-1" (click)="changeSize(5)">
            <i class="fa fa-circle"></i>
          </button>
          <button class="btn-link point-2" (click)="changeSize(10)">
            <i class="fa fa-circle"></i>
          </button>
          <button class="btn-link point-3" (click)="changeSize(20)">
            <i class="fa fa-circle"></i>
          </button>
          <button class="btn-link point-4" (click)="changeSize(50)">
            <i class="fa fa-circle"></i>
          </button>
          <button class="btn-link point-5" (click)="changeSize(100)">
            <i class="fa fa-circle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid full-center" style="" enterSubmit (enterPressed)="drawCanvas()">
    <div class="col-xs-4">
      <div class="col-xs-4">
        <h4>Dimensions:</h4>
      </div>
      <div class="col-xs-4">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">X</span>
          <input type="number" class="form-control" placeholder="25 squares" [(ngModel)]="canvasX" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="col-xs-4">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Y</span>
          <input type="number" class="form-control" placeholder="25 squares" [(ngModel)]="canvasY" aria-describedby="basic-addon2">
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="col-xs-4">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Box Size</span>
          <input type="number" class="form-control" placeholder="32px" [(ngModel)]="boxDim" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="col-xs-4">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Subsections</span>
          <input type="number" class="form-control" placeholder="2" [(ngModel)]="subSection" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="col-xs-4">
        <button class="btn btn-primary" (click)="drawCanvas()">
          Update canvas
        </button>
      </div>
    </div>
  </div>
</nav>