canvas-draw {
  height: 100%;
  width: 100%;
  display: block;
}

.canvas-controls {
  width: 100vw;
  z-index: 3;
}

.canvas-container {
  display: -webkit-flex;
  overflow: auto;
  position: relative;
  margin: 3vh;
  border: 5px solid #101010;
  border-radius: 5px;
  max-height: 80vh;
  max-width: 100vw;
}

h4 {
  color: #e0e0e0;
}

.canvas-container::-webkit-scrollbar {
  display: none;
}

.btn-link {
  height: 2vw;
  width: 2vw;
}

.point-1 {
  font-size: 0.25em;
}

.point-2 {
  font-size: 0.5em;
}

.point-3 {
  font-size: 1em;
}

.point-4 {
  font-size: 2em;
}

.point-5 {
  font-size: 3em;
}
