<div class="container">
  <!-- <div class="fixed-bottom row">
    <div class="card">
      <div class="card-header">
        <div class="pull-left">
          <input type="text" class="form-control" #search placeholder="Search.." (keyup)="filterItems(search.value)" aria-describedby="basic-addon1"
            style="width:57vw;">
        </div>
        <div class="pull-right" *ngIf="currentUser">
          <button class="btn btn-primary" *ngIf="!showPostControls" type="button" (click)="showControls()">
            <i class="fa fa-plus"></i>
          </button>
          <button class="btn btn-primary" *ngIf="showPostControls" type="button" (click)="showControls()">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div *ngIf="showPostControls" [@fadeAnimation]>
        <upload-form (uploadDone)="uploadDone($event)" *ngIf="currentItem?.imgUrl === null"></upload-form>
        <img class="card-img-top" src="{{currentItem?.imgUrl}}" *ngIf="currentItem?.imgUrl !== null" style="width:100%;">
        <div class="card-block">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Title</span>
            <input type="text" class="form-control" [(ngModel)]="currentItem.title" placeholder="Title" aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Summary</span>
            <input type="text" class="form-control" [(ngModel)]="currentItem.summary" placeholder="Write a short summary to appear on card"
              aria-describedby="basic-addon1">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Content</span>
            <textarea class="form-control" [(ngModel)]="currentItem.content" placeholder="Place full content for the post here" aria-describedby="basic-addon1"
              style="height:20vh;"></textarea>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-link pull-right" [disabled]="!canPost()" (click)="addItem(currentItem)">Post</button>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row" *ngIf="posts">
    <card-list [items]="posts" searchEnabled="true" originNode="blog"></card-list>
  </div>
</div>
