<div class="container">
  <div class="full-center">
    <div class="card text-white bg-dark mb-3">
      <div class="full-center">
        <div class="card-title">
          <h3>Options</h3>
        </div>
      </div>
      <div class="card-block">
        <div class="full-center">
          <div class="row" enteSubmit (enterPressed)="drawCanvas()">
            <div class="col">
              <div class="col">
                <h4>Dimensions:</h4>
              </div>
              <div class="col">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">X</span>
                  <input type="number" class="form-control" placeholder="25 squares" [(ngModel)]="canvasX" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="col">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">Y</span>
                  <input type="number" class="form-control" placeholder="25 squares" [(ngModel)]="canvasY" aria-describedby="basic-addon2">
                </div>
              </div>
            </div>
            <div class="col">
              <div class="col">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">Box Size</span>
                  <input type="number" class="form-control" placeholder="32px" [(ngModel)]="boxDim" aria-describedby="basic-addon2">
                </div>
              </div>
              <div class="col">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">Subsections</span>
                  <input type="number" class="form-control" placeholder="2" [(ngModel)]="subSection" aria-describedby="basic-addon2">
                </div>
              </div>
              <div class="col">
                <button class="btn btn-primary" (click)="drawCanvas()">
                  Update canvas
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
